<br> <h1 class="text-center"> STUPID COACH </h1> <br> 
<div class="w-50 m-auto text-center">
  <p> You asked: <%= params[:question] %></p>
  <p> Coach responded: <%= @answer %></p>
  <%= link_to "Ask Coach another question", ask_path %>
</div>
