<br> <h1 class="text-center"> STUPID COACH </h1> <br>
  <form action="/answer" method="get">
      <input type="text" class="form-control w-50 m-auto text-center" name="question" value="<%= params[:question] %>" placeholder="What question do you have for the coach? Press ENTER to submit.">
  </form>
</div>
